.Movie{
    height: inherit;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Movie header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Movie header h1{
    font-size: 24px;
    margin: 12% 0;
}

.Movie section{
    width:100%;
    margin-bottom: 72%;
}

.Movie section p{
    font-size: 20px;
}

.Movie section div{
    height: 5%;
    margin: 7% 0;
}

.Movie section div button{
    width: 18%;
    height: 100%;
    margin-right: 10px;
    background-color: var(--button-color);
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 15px;
}