.Theater-room{
    height: 100%;
    margin-top: 18%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Theater-room header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.Theater-room header h1{
    font-size: 24px;
}

.Theater-room .seats {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.Theater-room .seats .seat{
    width: 25px;
    height: 25px;
    background-color: var(--header-color);
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--available-border-color);
    border-radius: 50%;
    color:black;
    font-size: 12px;
    margin: 0 3px 15px
}

.Theater-room .seats .captions{
    width: 100%;
    display:flex;
    justify-content: space-around;
}

.Theater-room .seats .captions section{
    width: 25%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.Theater-room .seats .captions section div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-bottom: 10%;
}


.Theater-room article{
    height: 35%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Theater-room article section {
    height: 45%;
    width: 100%;
}

.Theater-room article section p{
    font-size: 14px;
    font-weight: 700;
}

.Theater-room article section input{
    width: 95%;
    height: 50%;
    margin: 2% 0;
    border:1px solid var(--input-border-color);
    border-radius: 3px;
    font-style: italic;
    font-size: 15px;
    padding-left: 15px;
}

.Theater-room article a{
    width: 55%;
    height: 18%;
}

.Theater-room article a button{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border:none;
    font-size: 18px;
    color: white;
    background-color: var(--button-color);
}

.selected{ 
    background-color: var(--selected-color) !important; 
    border: 1px solid var(--selected-border-color) !important;
}

.available{
    background-color: var(--available-color) !important;
    border: 1px solid var(--available-border-color) !important;
}

.unavailable{
    background-color: var(--unavailable-color) !important;
    border: 1px solid var(--unavailable-border-color) !important;
}
