.Header {
    background-color: var(--header-color);
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    
}

.Header button {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 10px;
    
}

.Header h1{
    color: var(--header-h1-color);
    font-size: 34px;
}