.Footer{
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position:fixed;
    bottom: 0;
    left: 0;
    background-color: var(--header-color);
    border-top: 2px solid var(--footer-border-color);
}

.Footer .movie-poster{
    width: 14%;
    height: 65%;
    border: solid 8px white;
    border-radius: 3px;
    box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.Footer .movie-poster img{
    width: 100%;
    height: 100%;
}

.Footer .movie-info{
    height:fit-content;
}

.Footer .movie-info h1{
    font-size: 26px;
}

.Footer .movie-info p{
    margin-top: 5px;
    font-size: 24px;
}