.Route {
    margin-top: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Route header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.Route header h1{
    color: var(--font-color);
    font-size: 24px;
}

.Route section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Route section a{
    width: 138px;
    height: 200px;
    margin-bottom: 10px;
    border: solid 11px white;
    border-radius: 5px;
    box-shadow: 4px 5px 4px 2px rgba(0, 0, 0, 0.1);
}

.Route section a img{
    width:100%;
    height: 100%;
}